@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-progress-error: #6159cb;
  --toastify-icon-color-error: #6159cb;
}

body {
  font-family: "Public Sans", sans-serif;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 3s infinite;
}
